form{
    border: 1px solid black;
    width: 40%;
    margin: 0 auto;
    background-color: lightgrey;
}

input{
    margin-top: 10px;
}

input[type=text]:focus {
  background-color: lightgrey;

}

select{
    margin-top: 10px;
}

